<div *ngFor="let launch of launches" class="launch-card">
  <h2>{{ launch.mission_name }} ({{ launch.launch_year }})</h2>
  <img [src]="launch.links.mission_patch_small" alt="Mission Patch" width="100">
  <p>{{ launch.details }}</p>
  <p><strong>Rocket:</strong> {{ launch.rocket.rocket_name }} ({{ launch.rocket.rocket_type }})</p>
  <a *ngIf="launch.links.article_link" [href]="launch.links.article_link" target="_blank">Article</a> |
  <a *ngIf="launch.links.wikipedia" [href]="launch.links.wikipedia" target="_blank">Wikipedia</a> |
  <a *ngIf="launch.links.video_link" [href]="launch.links.video_link" target="_blank">Video</a>
</div>
